<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Baqala- Checkout</title>
  <link rel="stylesheet" href="../style/checkout.css">
  <link rel="stylesheet" href="../style/navbarstyle.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
  <%- include('../partials/navbar'); %>
  <section>
    <div class="header">
      <button id="backButton" class="back-button"><i class="fa-solid fa-arrow-left"></i></button>
      <h3>Check-Out</h3>
      <span class="coupons">  </span>
    </div>
  </section>
  <main>
<!-- heading section -->
<section class="seladdsec">
  <div class="dropdown-container">
    <button class="dropdown-toggle" onclick="toggleDropdown()">Select an address</button>
    <div class="dropdown-menu" id="addressDropdown">
      <% if (userCart.user.addresses.length >= 3) { %>
        <button class="addadressbtn" disabled>Reached address limit</button>
      <% } else { %>
        <button class="addadressbtn" onclick="openModal1('addAddressModal')">
          <i class="fa-solid fa-plus pr-3 pt-1"></i>Add Address
        </button>
      <% } %>
      <form id="addressForm">
        <% userCart.user.addresses.forEach((address, index) => { %>
          <div class="dropdown-item addressCard" data-address-id="<%= address.id %>" data-user-id="<%= userCart.user._id %>">
            <input 
              type="radio" 
              name="selectedAddress" 
              id="address<%= index %>" 
              value="<%= address.id %>" 
              onclick="selectAddress(this)"
            />
            <label for="address<%= index %>">
              <div class="address-info">
              <p class="address-number">Address: <%= index + 1 %></p>
              <p class="user-name">Name: <%= userCart.user.name %></p>
              <p class="country">Country: <%= address.country %></p>
              <p class="street-address">StreetAddress: <%= address.streetAddress %></p>
              <p class="city">City: <%= address.city %></p>
              <p class="state">State: <%= address.state %></p>
              <p class="pincode">Pincode: <%= address.pincode %></p>
            </div>
            </label>
          </div>
          <button class="edit-address-btn" data-address-id="<%= address.id %>">Edit</button>
          <button class="delete-address-btn" data-address-id="<%= address.id %>">Delete</button>
        <% }) %>
      </form>
    </div>
  </div>
</section>




        <!-- products in cart section -->
        <section>
          <div class="productlistcontainer">
            <h3>Items in cart</h3>
            <% userCart.cartItems.forEach((cartItem, index) => { %>

              <div class="productlistcard checkoutProductData" data-product-id="<%= cartItem.product._id %>"
                data-product-price="<%= cartItem.product.productPrice %>" data-quantity="<%= cartItem.quantity %>">
                <div>
                  <h3><%= cartItem.product.productTitle %> </h3>
                  <p><%= cartItem.product.category %></p>
                </div>
                <div class="price-container">
                  <% 
                    const originalPrice = cartItem.product.productPrice;
                    let discountedPrice = originalPrice;
                    if (cartItem.product.productHasDiscount && cartItem.product.offers.length > 0) {
                       const discountPercentage = cartItem.product.offers[0].discountPercentage; 
                        const subtotal = (cartItem.quantity * cartItem.product.productPrice).toFixed(2); 
                        const discountAmount = (subtotal * (discountPercentage / 100)).toFixed(2); 
                      discountedPrice = originalPrice - (originalPrice * (discountPercentage / 100));
                    }
                  %>
                  <% if (discountedPrice < originalPrice) { %>
                    <p class="original-price" style="text-decoration: line-through;">
                      $<%= originalPrice.toFixed(2) %>
                      <div class="price text-muted dataSubtotal">Total: ₹<%= subtotal %></div>
                      <div class="price text-muted dataDiscount">Discount: ₹<%= discountAmount %></div>
                      <div class="price text-muted ">Subtotal: ₹<%= (subtotal - discountAmount).toFixed(2) %></div>
                    </p>
                    <p class="discounted-price">
                      $<%= discountedPrice.toFixed(2) %>
                    </p>
                  <% } else { %>
                    <p class="price">
                      $<%= originalPrice.toFixed(2) %>
                    </p>
                  <% } %>
                  <div class="price text-muted dataSubtotal">Total: ₹<%= (cartItem.quantity * cartItem.product.productPrice).toFixed(2) %></div>
                </div>
              </div>
            <% }); %>
            <button class="add-more-items" id="addmoreButton">+ Add more items</button>
          </div>
        </section>
    
    
    <!-- coupon code section -->
     <section>
       <div class="availablecouponlist">
          <h3>Available Coupons</h3>
          <div class="scrollablecoupon">
      <% if(validCoupons.length){ %>
        <% validCoupons.forEach(coupon => { %>
          <div class="couponcards">
            <h4>AED <%= coupon.discountAmount %> OFF</h4>
            <div>
              <p>Apply <b><%= coupon.couponCode %> </b> To get AED<%= coupon.discountAmount %> off</p>
              <p><small><b>Conditon:</b><i> Min Amount: AED <%= coupon.minPurchase %> And Max Amount: AED <%= coupon.maxPurchase %></i></small> </p>
            </div>  
          </div>
        <%})%>
      <%}else{%>
        <div class="nocouponcard">
          <h4 class="nocoupontext"> CURRENTLY NO COUPONS AVAILABLE </h4>
        </div>
      <%} %>
    </div>

      <div class="coupon-section" id="couponSection">
        <div class="coupon-input-group">
          <input type="text" id="couponCode" placeholder="Enter coupon code" required>
          <button type="submit" id="couponApplyBtn">Apply Coupon</button>
        </div>
        <div id="couponError" class="error-message" style="display: none;"></div>
        <div id="minCouponError" class="error-message" style="display: none;"></div>
      </div>
      
      
    </div>
     </section>

<!-- payment method section -->
<section>
  <div class="payment-method-section">
    <h3>Payment Method</h3>
    <ul class="nav nav-tabs" id="paymentTabs" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="cod-tab" data-bs-toggle="tab" data-bs-target="#COD" type="button" role="tab" aria-controls="COD" aria-selected="true" href="#COD">Cash on Delivery</a>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="wallet-tab" data-bs-toggle="tab" data-bs-target="#Wallet" type="button" role="tab" aria-controls="Wallet" aria-selected="false">W̶a̶l̶l̶e̶t̶</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="online-tab" data-bs-toggle="tab" data-bs-target="#Online" type="button" role="tab" aria-controls="Online" aria-selected="false">O̶n̶l̶i̶n̶e̶ P̶a̶y̶m̶e̶n̶t̶</button>
      </li>
    </ul>
    <div class="tab-content" id="paymentTabsContent">
      <div class="tab-pane fade show active" id="COD" role="tabpanel" aria-labelledby="cod-tab">
        <p>Pay with cash upon delivery. Additional charges may apply.</p>
      </div>
      <div class="tab-pane fade" id="Online" role="tabpanel" aria-labelledby="online-tab">
        <p>Proceed with online payment options.</p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="order-summary">
    <h3>Order Summary</h3>
    <div>
      <input type="radio" class="shipping" name="shipping" id="checkoutFreeShipping" value="free" checked>
      <label for="checkoutFreeShipping">Free Shipping</label>
    </div>
    <div>
      <input type="radio" class="shipping" name="shipping" id="checkoutExpressShipping" value="express">
      <label for="checkoutExpressShipping">Express Shipping (+₹15)</label>
    </div>
    <div class="subtotal-container">
      <p>Subtotal: <span id="checkoutSubTotal">₹0.00</span></p>
      <p>Total: <span id="checkoutTotal">₹0.00</span></p>
      <p>Discount: <span id="discountCouponId">- 0.00</span></p>
      <button type="button" class="confrimPayementBtn">Confirm Payment</button>
    </div>
  </div>

  <!-- Display the wallet balance -->
   <div class="hide">
  <p class="hide">Wallet Balance: ₹<span id="walletBalance"><%= walletBalance %></span></p>
  <div class="form-group">
    <label for="useWallet">Use Wallet Balance:</label>
    <input type="radio" id="useWalletYes" name="useWallet" value="yes"> Yes
    <input type="radio" id="useWalletNo" name="useWallet" value="no" checked> No
  </div>
</div>
</section>



    <!-- Add Address Modal -->
    <div class="modal" id="addAddressModal">
      <div class="modal-content">
        <div class="modal-header">
          <h2>Add Address</h2>
          <button class="close-modal" onclick="closeModal('addAddressModal')">&times;</button>
        </div>
        <form id="userAddAddressForm">
        <div class="modal-body">
          <input type="text" class="form-control" id="name" name="name" value="<%= userCart.user.name %>" required>
          <input type="text" placeholder="Street Address" id="streetAddress">
          <input type="text" placeholder="City" id="city">
          <input type="text" placeholder="state" id="state">
          <input type="text" placeholder="Country" id="country">
          <input type="hidden" placeholder="Pincode" id="pincode" value=" " >
          <input type="hidden" id="userId" name="userId" value="<%= userCart.user._id %>">
        </div>

        <div class="modal-footer">
          <button class="cancel-button" onclick="closeModal('addAddressModal')">Cancel</button>
          <button class="save-button">Save</button>
        </div>
      </form>
      </div>
    </div>

<!-- Edit Address Modal -->
<div class="modal" id="editAddressModal">
  <div class="modal-content">
    <div class="modal-header">
      <h2>Edit Address</h2>
      <button class="close-modal" onclick="closeModal('editAddressModal')">&times;</button>
    </div>
    <form id="editAddressForm">
      <div class="modal-body">
        <input type="hidden" id="editAddressId"> <!-- Hidden input for address ID -->
        <label for="editName">Name</label>
        <input type="text" id="editName" name="editName" value="<%= userCart.user.name %>" required disabled>
        <div class="form-group">
          <label for="editCountry">Country:</label>
          <input type="text" id="editCountry" name="country" required>
        </div>
        <div class="form-group">
          <label for="editStreetAddress">Street Address:</label>
          <input type="text" id="editStreetAddress" name="streetAddress" required>
        </div>
        <div class="form-group">
          <label for="editCity">City:</label>
          <input type="text" id="editCity" name="city" required>
        </div>
        <div class="form-group">
          <label for="editState">State:</label>
          <input type="text" id="editState" name="state" required>
        </div>
        <div class="form-group">
          <label for="editPincode">Pincode:</label>
          <input type="text" id="editPincode" name="pincode" required>
        </div>
        <input type="hidden" id="editUserId" name="editUserId" value="<%= userCart.user._id %>">
          
        <input type="hidden" id="editAddressId" name="editAddressId" value="<%= userCart.user._id %>">
      </div>
      <div class="modal-footer">
        <button type="button" class="cancel-button" onclick="closeModal('editAddressModal')">Cancel</button>
        <button type="submit" class="save-button">Save Changes</button>
      </div>
    </form>
  </div>
</div>
<div id="snackbar"></div>
  </main>

  <script>
    document.getElementById('backButton').addEventListener('click', function() {
    window.history.back();
    window.history.back();
});

document.getElementById('addmoreButton').addEventListener('click', function() {
  window.location.href = '/products';
});



        // Toggle the dropdown
        function toggleDropdown() {
      document.getElementById("addressDropdown").classList.toggle("show");
    }


    function selectAddress(element) {
  // Remove the 'selected' class from any previously selected address
  const previouslySelected = document.querySelector('.addressCard.selected');
  if (previouslySelected) {
    previouslySelected.classList.remove('selected');
  }

  // Add the 'selected' class to the clicked address
  element.classList.add('selected');
}
    // Close dropdown when clicking outside
    window.onclick = function(event) {
      if (!event.target.matches('.dropdown-toggle')) {
        var dropdowns = document.getElementsByClassName("dropdown-menu");
        for (var i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }
 
  </script>
  
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  <script src="../js/coupon.js"></script>
  <script src="../js/orders.js"></script>
  <script src="../js/addUserAddress.js"></script>
  <script src="../js/checkout.js"></script>
  <script src="../js/updateAddress.js"></script>
</body>
</html>